DB_HOST=mysql
DB_DATABASE=pcc_dev
DB_USERNAME=user
DB_PASSWORD=secret

DB_TEST_HOST=mysql-test
DB_TEST_DATABASE=pcc_test
DB_TEST_USERNAME=user
DB_TEST_PASSWORD=secret

REDIS_HOST=redis
REDIS_PORT=6379

GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=

GOOGLE_CALENDAR_ID=
GOOGLE_SERVICE_ACCOUNT_CREDENTIALS=
